 <app-modal class="p-2" *ngIf="status==='loading'" [message]="'Loading Products'"></app-modal>

<section *ngIf="status === 'success'" class="py-8 bg-gray-100 dark:bg-gray-900 mt-4">
    <div class="max-w-6xl mx-auto px-4">
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-3 sm:gap-4 lg:gap-6">
            <div *ngFor="let product of products">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>

    <app-pagination [pageMetadata]="pageMetadata" (previousPage)="onPreviousPage($event)"
        (nextPage)="onNextPage($event)">
    </app-pagination>
</section>

<div *ngIf="status === 'error'" class="text-center text-red-600 dark:text-red-400 py-6">
    <p>An error occurred while loading products. Please try again later.</p>
</div>