<!-- Loading state -->
<app-modal class="p-2" *ngIf="status==='loading'" [message]="loadingMessage"></app-modal>

<!-- Success state (only rendered if status is 'success') -->
<ng-container *ngIf="status === 'success'">
    <section *ngFor="let sect of sections" class="py-8 bg-gray-50 dark:bg-gray-900">
        <div class="max-w-6xl mx-auto px-4">
            <h2 class="text-2xl font-bold text-center text-gray-900 dark:text-white mb-1">{{sect.title}}</h2>
            <p *ngIf="sect.description" class="text-center text-gray-600 dark:text-gray-300 mb-1">{{sect.description}}
            </p>
            <p *ngIf="sect.announcement" class="text-center text-indigo-600 dark:text-indigo-400 font-bold mb-6">
                {{sect.announcement}}</p>

            <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-3 sm:gap-4 lg:gap-6">
                <div *ngFor="let product of sect.products">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </div>
        </div>

        <app-pagination [pageMetadata]="pageMetadata" (previousPage)="onPreviousPage($event)"
            (nextPage)="onNextPage($event)">
        </app-pagination>
    </section>
</ng-container>

<!-- Error state -->
<div *ngIf="status === 'error'" class="text-center text-red-600 dark:text-red-400 py-6">
    <p>An error occurred while loading products. Please try again later.</p>
</div>